.author-profile {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
}

.author-profile img {
    min-height: 108px;
    -o-object-fit: cover;
    object-fit: cover;
}

.text_caption {
    font-size: var(--text_lg);
    font-weight: var(--text_weight-medium);
}

.caption-author {
    font-weight: 700;
    font-size: 14px;
}