.author-profile {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
}

.author-profile img {
    min-height: 108px;
    -o-object-fit: cover;
    object-fit: cover;
}

.text_caption {
    font-size: var(--text_lg);
    font-weight: var(--text_weight-medium);
}

.caption-author {
    font-weight: 700;
    font-size: 14px;
}

.swiper-button-next, .swiper-button-prev {
    @apply text-pink-600 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-pink-600 !important;
}

.swiper-scrollbar {
    /*@apply bg-pink-200 !important;*/
    display: none !important;
}

.swiper-scrollbar-drag {
    /*@apply bg-pink-400 !important;*/
    display: none !important;
}